.App {
  text-align: center;
}

body{
  height: auto;
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  position: relative;
  right: 40%;
  float: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search{
  height: auto;
}
.title-page{
  float: left;
  position: absolute;
  top: -14px;
  left: 30%;
}
.search-content{
  margin: 5%;
}
.input-cont{
  height: 30px;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
.btn-play{
  height: 55px;
  margin: 30px;
  font-size: 14px;
  width: 80px;
  border: 3px solid #1D8348;
  background-color: #239B56;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.btn-play:hover{
  background-color:#1D8348;
  color: #fff;
  border: 1px solid #1D8348;
}
.btn-restar{
  height: 55px;
  margin: 30px;
  font-size: 14px;
  width: 80px;
  border: 3px solid #282c34;
  background-color: #282c34;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.btn-restar:hover{
  background-color:#282c34;
  color: #fff;
  border: 1px solid #fff;
}
.tower-content{
  width: 25%;
  height: 290px;
  background-color: #fff;
  opacity: 0.1;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  float: left;
  box-shadow: 5px 10px;
}
.tw-1{
  margin-left: 10%;
}
.tw-2{
  margin-left: 3%;
}
.tw-3{
  margin-left: 3%;
}
.horizontal-line{
  visibility: visible;
  border: 2px solid black;
  font-size: 1px;
  background-color: black;
  width: 91%;
  height: 2px;
  position: relative;
  top: 91%;
  left: 3%;
}
.vertical-line{
  visibility: visible;
  border: 2px solid black;
  font-size: 1px;
  background-color: black;
  width: 2px;
  height: 250px;
  position: relative;
  left: 49%;
  top: 3%;
}
.disk{
  height: 20px;
  width: 40%;
  border: 1px solid black;
  position: absolute;
}
#disk1{
  z-index: 1;
  background-color: red;
  width: 15%;
  left: 15%;
  bottom: 225px;
}
#disk2{
  z-index: 2;
  background-color: yellow;
  width: 13%;
  left: 16%;
  bottom: 245px;
}
#disk3{
  z-index: 3;
  background-color: green;
  width: 11%;
  left: 17%;
  bottom: 267px;
}
#disk4{
  z-index: 4;
  background-color: purple;
  width: 9%;
  left: 18%;
  bottom: 289px;
}
#disk5{
  z-index: 5;
  background-color: orange;
  width: 7%;
  left: 19%;
  bottom: 310px;
}
@media screen and (max-width: 900px) {
  body{
     /* do what you want here */
     display: none !important;
  }
}